@model Project.Models.Director

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Director</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SectionId" class="control-label">SectionName</label>
                <select asp-for="SectionId" class="form-control" asp-items="ViewBag.SectionId"></select>
                @Html.ValidationMessageFor(model => model.SectionId,"",new { @style="color:red" })
            </div>
            <div class="form-group">
                <label asp-for="DirectorName" class="control-label"></label>
                <input asp-for="DirectorName" class="form-control" />
                <span asp-validation-for="DirectorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorSurname" class="control-label"></label>
                <input asp-for="DirectorSurname" class="form-control" />
                <span asp-validation-for="DirectorSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorEmail" class="control-label"></label>
                <input asp-for="DirectorEmail" class="form-control" />
                <span asp-validation-for="DirectorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
